<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd"
     default-lazy-init="true">
    
    <bean id="component.util.Timer" class="component.util.Timer">
		<constructor-arg value="default-timer"/>
	</bean>
	
	<bean id="app.ctiServer.connector.ConnectorMgr" class="app.ctiServer.connector.ConnectorMgr" init-method="init">
		<property name="protocol" ref="app.ctiServer.connector.protocol.socket.ProtocolMgr"/>
		<property name="connectors">
			<list>
				<bean class="app.ctiServer.connector.ResourceConnector"/>
				<bean class="app.ctiServer.connector.CTIConnector"/>
				<bean class="app.ctiServer.connector.RTStatConnector"/>		
			</list>
		</property>
	</bean>
	
	<alias name="app.ctiServer.connector.protocol.socket.ProtocolMgr" alias="protocol"/>
	<bean id="app.ctiServer.connector.protocol.socket.ProtocolMgr" class="app.ctiServer.connector.protocol.socket.ProtocolMgr" init-method="init">
		<property name="methodRepository" ref="app.ctiServer.connector.ConnectorMgr"/>
		<property name="port" value="4321"/>
	</bean>
	
		
</beans>
